body {
    height: 100vh;
    background: rgba(17, 26, 40, 1);
    color: rgb(200, 200, 200);
    font-size: 18px;
    font-family: Roboto, sans-serif;
}

p,
h5 {
    color: rgb(200, 200, 200);
}

h1,
h2 {
    color: rgba(0, 207, 93, 1);
    font-weight: bold;
}

h4 {
    color: rgba(0, 207, 93, 1);
    text-align: right;
}

.btn:hover,
.nav-link:hover {
    color: rgba(0, 207, 93, 1);
}

.btn-danger {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    padding: 14px 40px;
    border-radius: 12px;
}

.accordion-button.show,
.accordion-button {
    background-color: rgba(17, 26, 40, 1);
    color: rgb(200, 200, 200);
    font-weight: bold;
}

.accordion {
    --bs-accordion-active-bg: rgba(17, 26, 40, 1);
    --bs-primary-text-emphasis: rgba(0, 207, 93, 1);
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgba(0, 207, 93, 1)'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:hover,
.accordion-button.collapsed::after {
    color: rgba(0, 207, 93, 1);
    background-color: rgba(17, 26, 40, 1);
    font-weight: bold;
}

.accordion-body {
    background-color: rgba(17, 26, 40, 1);
    color: rgb(200, 200, 200);
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.card {
    text-align: center;
    border-color: rgba(0, 207, 93, 1);
    border-style: double;
    border-width: 3px;
}

.navbar-brand {
    color: rgba(0, 207, 93, 255);
}

.nav-item {
    text-align: center;
}

.row-footer {
    height: 10vh;
}

.form-control {
    background-color: rgba(255, 255, 255, .9);
    border-width: 3px;
}

.form-control:focus {
    background-color: rgba(255, 255, 255, .9);
    border-color: rgba(0, 207, 93, 1);
    border-width: 3px;
}


/* .parallax { */
/* background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.8)), url('japan_2019.JPG'); */
/* height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
/* } */

.parallax-block {
    min-height: 100vh;
    padding-top: 25vh;
    padding-bottom: 25vh;
}

#portfolio-card {
    text-align: justify;
}

@media (max-width: 576px) {

    .custom-smaller-div {
        width: 100%;
        font-size: 12px;
    }
}

.footnote {
    font-size: 8px;
}

.post-table {
    max-height: 50vh;
    overflow-y: auto;
    position: relative;
}

.table-header {
    font-weight: bold;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 3px solid rgb(200, 200, 200);
}

.table-row {
    padding: 5px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.table-row:nth-child(even) {
    background-color: rgba(70, 90, 115, 0.2);
}

.col1 {
    flex: 1;
}

.col2 {
    flex: 1;
}

.col3 {
    flex: 5;
}

.col4 {
    flex: 1;
}

.modal {
    top: 15vh;
}