{% extends 'base.html' %}

{% block content %}

<section class="parallax-block">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <span class="title">
                <h1>{% block title %} #{{ single_post.id }} - {{ single_post.title }}{% endblock %}</h1>
            </span>
            <div class="content">
                <div class="single_post">
                    <p><b>Title: {{ single_post.title }}</b></p>
                    <hr>
                    <p>Content of the post:</p>
                    <p>{{ single_post.content }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}