{% extends 'base.html' %}

{% block content %}
<!-- #region INTRO-->
<section class="parallax-block" id="intro">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <p>Greetings! My name is</p>
            <h1>Thomas Schoolderman</h1>
            <i class="bi bi-chevron-double-left"></i>Fullstack Developer<i class="bi bi-chevron-double-right"></i>
            <i class="bi bi-pause"></i>
            <i class="bi bi-chevron-double-left"></i>DevOps Engineer<i class="bi bi-chevron-double-right"></i>
            <i class="bi bi-pause"></i>
            <i class="bi bi-chevron-double-left"></i>Programmer<i class="bi bi-chevron-double-right"></i>
            <br>
            <div>
                <a class="btn btn-outline-success btn-floating btn-lg" href="#about">About</a>
                <a class="btn btn-outline-success btn-floating btn-lg" href="#contact">Contact</a>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <a href="https://app.exeed.pro/holder/badge/142574" target="_blank">
                <img src="{{ url_for('static', filename='scrum_badge.png') }}" width="30%" height="auto" />
            </a>
            <a href="https://app.skillsclub.com/credential/31203-d34dbcaaef5c2ab003fba9ee8d0586382aae39b289e174dd3ecbde16cbe67ae2?locale=en&badge=true"
                target="_blank">
                <img src="{{ url_for('static', filename='istqb_foundation.png') }}" width="30%" height="auto" />
            </a>
            <a href="https://www.credly.com/users/thomas-schoolderman/badges" target="_blank">
                <img src="{{ url_for('static', filename='azure_fundamentals.png') }}" width="30%" height="auto" />
            </a>
        </div>
    </div>
</section>
<!-- #endregion -->

<!-- #region ABOUT-->
<section class="parallax-block" id="about">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2>
                About me:
            </h2>
            <div>
                Driven by ambition and curiosity.<br>
                A willingness to grow and learn new skills.<br>
                Switching careers from Senior Laboratory Technician to Software Engineering.<br>
                Proactive, accurate, analytic and a keen look for quality assurance.<br>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div>
                <img width="100" height="100" src="https://img.icons8.com/clouds/100/doctors-laboratory-coat.png"
                    alt="doctors-laboratory-coat" />
                <img width="100" height="100" src="https://img.icons8.com/clouds/100/double-right.png"
                    alt="double-right" />
                <img width="100" height="100" src="https://img.icons8.com/clouds/100/keyboard.png" alt="keyboard" />
            </div>
        </div>
    </div>
    <br><br>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2>
                Hobbies:
            </h2>
            <div>
                In my sparetime I like to play some Final Fantasy XIV or go to the gym for some powerlifting.
                When I can I will go to a convention like; Castlefest, ComicCon or other.
                We are also raising a little labrador puppy together. <br>
            </div>
        </div>
    </div>
</section>
<!-- #endregion -->

<!-- #region SKILLS-->
<section class="parallax-block" id="skills">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <h2>Skills</h2>
            <div class="accordion accordion-flush" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Back-end languages
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row row-cols-2 row-cols-md-4 g-4">
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>Python</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>Java</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>SQL</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>C#/.NET</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Front-end languages
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row row-cols-2 row-cols-md-4 g-4">
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>HTML</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>CSS</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>JavaScript</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Tools
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row row-cols-2 row-cols-md-4 g-4">
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>Postman</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>Git</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>Terminal</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>Kubernetes</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>Docker</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>Azure</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>Bash</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>Visual Studio</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>VSCode</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>JIRA</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>Digital Ocean</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Other skills
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row row-cols-2 row-cols-md-4 g-4">
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>Lean Greenbelt</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>Coaching</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>Analyzing</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>SCRUM</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>ISTQB Foundation</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>AZ-900 Foundation</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>Markdown</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent">
                                        <div class="card-body">
                                            <h5>YAML</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #endregion -->

<!-- #region PORTFOLIO-->
<section class="parallax-block" id="portfolio">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <h2>Portfolio</h2>
            <div>
                Some of my projects. Most recent on top:
            </div><br>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <!-- First project -->
                <div class="col custom-smaller-div">
                    <div class="card bg-transparent">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename='bear_hi.png')}}"
                                    class="img-fluid rounded-start d-none d-sm-block">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="https://github.com/tschoolderman/portfolio" target="_blank">
                                        <h4>
                                            <i class="bi bi-box-arrow-up-right"></i> Portfolio website
                                        </h4>
                                    </a>
                                    <p id="portfolio-card">
                                        This portfolio website is built with Python as a base for the backend.
                                        The frontend is made by using Flask, Jinja, HTML, JavaScript and Bootstrap. <br>
                                        In the header are 2 small projects: a simple webscraper and a simple application
                                        for
                                        CRUD operations. <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Second project -->
                <div class="col custom-smaller-div">
                    <div class="card bg-transparent">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename='trifectafest.png')}}"
                                    class="img-fluid rounded-start d-none d-sm-block">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4>Trifectafest website</h4>
                                    <p id="portfolio-card">
                                        This is a project I worked on together with a few other people during my
                                        bootcamp. <br>
                                        The project was built with a <a
                                            href="https://github.com/Zenzorido/TrifectaFest-BE" target="_blank">Java
                                            backend</a>, a MySQL database and <a
                                            href="https://github.com/Tooneytunes/TrifectaFest-FE"
                                            target="_blank">HTML/JS frontend</a>.
                                        <br>
                                        The whole project was put online in Microsoft Azure and a variant with
                                        containers.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Third project -->
                <div class="col custom-smaller-div">
                    <div class="card bg-transparent">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename='mastermind.png')}}"
                                    class="img-fluid rounded-start d-none d-sm-block">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="https://github.com/tschoolderman/Mastermind" target="_blank">
                                        <h4>
                                            <i class="bi bi-box-arrow-up-right"></i> Mastermind game in Java
                                        </h4>
                                    </a>
                                    <p id="portfolio-card">
                                        My first try at programming something in Java language.
                                        As well as my first interaction with the Eclipse IDE. <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fourth project -->
                <div class="col custom-smaller-div">
                    <div class="card bg-transparent">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename='winc_logo.png')}}"
                                    class="img-fluid rounded-start d-none d-sm-block">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="https://github.com/tschoolderman/assignment-cd" target="_blank">
                                        <h4>
                                            <i class="bi bi-box-arrow-up-right"></i> First CI/CD assignment
                                        </h4>
                                    </a>
                                    <p id="portfolio-card">
                                        This is the first time I made a Continues Deployment pipeline.
                                        Made with a Virtual Machine (Linux) on Digital Ocean and with the use of GitHub
                                        workflows and secrets.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fifth project -->
                <div class="col custom-smaller-div">
                    <div class="card bg-transparent">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename='winc_logo.png')}}"
                                    class="img-fluid rounded-start d-none d-sm-block">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="https://github.com/tschoolderman/Winc" target="_blank">
                                        <h4>
                                            <i class="bi bi-box-arrow-up-right"></i> Various assignments
                                        </h4>
                                    </a>
                                    <p id="portfolio-card">
                                        A collection of various assignments given to me during my "Back-end development"
                                        course
                                        at Winc Academy.<br>
                                        This is where my coding en DevOps career change started. <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #endregion -->

<!-- #region CONTACT-->
<section class="parallax-block" id="contact">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1>Contact me</h1>

            <form action="{{ url_for('main.contact') }}" method="post" novalidate>
                {{ form.hidden_tag() }}
                <!-- Name input -->
                <div class="mb-3">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control") }}
                    {% for message in form.name.errors %}
                </div>
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endfor %}

                <!-- Email input -->
                <div class="mb-3">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                </div>
                {% for message in form.email.errors %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endfor %}

                <!-- Subject input -->
                <div class="mb-3">
                    {{ form.subject.label(class="form-label") }}
                    {{ form.subject(class="form-control", required="true") }}
                    {% for message in form.subject.errors %}
                </div>
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endfor %}

                <!-- Message input -->
                <div class="mb-3">
                    {{ form.message.label(class="form-label") }}
                    {{ form.message(class="form-control", rows="10") }}
                    {% for message in form.message.errors %}
                </div>
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endfor %}

                <!-- Button -->
                <br>
                <div class="row justify-content-center">
                    <div class="col-lg-1">
                        {{ form.submit(class="btn btn-outline-success btn-lg") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- #endregion -->

<!-- #region FOOTER-->
<footer class="container text-center bg-transparent">
    <div class="row justify-content-center">
        <div class="col-lg-3">
            <div>
                <p>Made by me; <i class="bi bi-c-circle"></i> 2023</p>
            </div>
            <div style="text-align: left;">
                <a href="https://icons8.com/icon/h10VanmAVC3t/lab-coat">Lab Coat</a>,<br>
                <a href="https://icons8.com/icon/64116/keyboard">Keyboard</a>,<br>
                <a href="https://icons8.com/icon/124076/double-right">Double Right</a> icons by <a
                    href="https://icons8.com">Icons8</a>
            </div>
        </div>
    </div>
</footer>
<!-- #endregion -->

{% endblock %}